extends ./includes/layout.pug

//- passField - take a field object and output the label and value.
mixin passField(field)
  .row
    dt.caps.col-sm-6=field.label
    dd.col-sm-6=field.value

//- passFields - take a pass and fieldType and output each label and field.
mixin passFields(passType, fieldType, pass)
  if pass[passType][fieldType]
    each field in pass[passType][fieldType]
      +passField(field)




block content
  .row
    .col-sm-12
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/_browse") Browse
        li.breadcrumb-item.active=pass.logoText
  .row
    .col-sm-8
      h2=pass.logoText
      p=pass.description
      dl
        +passFields(pass.passType, 'headerFields', pass)
        +passFields(pass.passType, 'primaryFields', pass)
        +passFields(pass.passType, 'auxiliaryFields', pass)
        +passFields(pass.passType, 'secondaryFields', pass)
        +passFields(pass.passType, 'backFields', pass)

    .col-sm-4
      dl
        dt Pass Type
        dd=pass.passType
        dt Pass Type ID
        dd=pass.passTypeIdentifier
        dt Team Identifier
        dd=pass.teamIdentifier
      a(href='/download/'+pass._id, target='_blank', title='Add to Apple Wallet')
        img(src='/images/Add_to_Apple_Wallet.svg', title='Add to Apple Wallet')
