extends ./includes/layout.pug

//- Mixins
mixin listItem(pass)
  a.list-group-item.list-group-item-action(href='/_browse/' + pass._id)
    .flex-column.align-items-start 
      .d-flex.w-100.justify-content-between
        h5.mb-1=pass.organizationName
        small=pass.lastUpdated
      p.mb-1=pass.description
      
    
mixin card(pass)
  .col-xl-3.col-lg-4.col-md-6.col-sm-6
    .card
      .card-block
        img(src='/images/' + pass.type + '.png').mr-2.float-xs-left
        h4.card-title=pass.organizationName
        p.card-text=pass.description
        p.card-date=pass.lastUpdated
        a(href='/_browse/'+pass._id) View

block styles
  style.
    .card-title{
      white-space:nowrap;
      margin: 0;
    }

//- Content
block content
  //-.jumbotron.jumbotron-fluid
    .container
      h1.display-3 Browse
      p.lead Here is all the available passes.
  .list-group
    each pass in passes
      +listItem(pass)
