extends ./includes/layout.pug

//- passField - take a field object and output the label and value.
mixin passField(field)
  .row
    dt.caps.col-sm-6=field.label
    dd.col-sm-6=field.value

//- passFields - take a pass and fieldType and output each label and field.
mixin passFields(passType, fieldType, pass)
  if pass[passType][fieldType]
    each field in pass[passType][fieldType]
      +passField(field)





block content
  -
    //pass = {}
    list = ["Uno", "Dos", "Tres",
            "Cuatro", "Cinco", "Seis"]
  .row
    .col-sm-12
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/_browse") Browse
        li.breadcrumb-item.active=pass._id
  .row
    .col-sm-7
      h2=pass.logoText
      p=pass.description
      .p-3
        a(href='/download/'+pass._id, target='_blank', title='Add to Apple Wallet')
          img.img-responsive(src='/images/Add_to_Apple_Wallet.svg', title='Add to Apple Wallet')
      dl
        dt _id
        dd=pass._id
        dt _rev
        dd=pass._rev
        +passFields(pass.type, 'headerFields', pass)
        +passFields(pass.type, 'primaryFields', pass)
        +passFields(pass.type, 'auxiliaryFields', pass)
        +passFields(pass.type, 'secondaryFields', pass)
        +passFields(pass.type, 'backFields', pass)

    .col-sm-5
      dl
        
        dt Pass Type ID
        dd=pass.passTypeIdentifier
        dt Team Identifier
        dd=pass.teamIdentifier
        dt Serial Number
        dd=pass.serialNumber
        dt Pass Type
        dd=pass.type
        dt Last Updated
        dd=pass.lastUpdated
      


  template#app(is='dom-bind')
    pb-pass



block scripts
  script.
    document.addEventListener('WebComponentsReady', function(){
      var app = document.querySelector('#app');
      app.pass = {
        title: 'Test Pass'
      };
      console.log('WebComponentsReady');
    });
